*{
  margin:0px;
  padding:0px;
}

body{
  #overflow:hidden;
}

iframe{
  width:100%;
  overflow:hidden;
}

.header{
  width:100%;
  background:#ccc;
}

.menu{
  width:20%;
  float:left;
}

.container{
  width:80%;
  float:right;
}